<!-- forms.html -->
<html>
    <head>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="914571847763-2vmvc5hkmg7mc1mopaj794iubv762dq6.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body>
        <script type="text/javascript">
            function onSignIn(googleUser) {
                // Useful data for your client-side scripts:
                var profile = googleUser.getBasicProfile();
                console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                console.log('Full Name: ' + profile.getName());
                 console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log("Image URL: " + profile.getImageUrl());
                console.log("Email: " + profile.getEmail());

                // The ID token you need to pass to your backend:
                var id_token = googleUser.getAuthResponse().id_token;
                console.log("ID Token: " + id_token);
                if (id_token != null) {
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', 'http://ec2-54-255-165-196.ap-southeast-1.compute.amazonaws.com:8080/v1/google-login');
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.setRequestHeader("auth_code", id_token);
                    xhr.onload = function () {
                        console.log('Signed in as: ' + xhr.responseText);
                        // window.location = "http://ec2-54-255-165-196.ap-southeast-1.compute.amazonaws.com:8080/v1/home";
                    };

                    var data = JSON.stringify({ "email": profile.getEmail()});
                    xhr.send(data);
                }
            }
        </script>
    </body>
        <div>
            {{.ErrorMessage}}
        </div>
        <form method="POST" action="/v1/login">
            <label>Email:</label><br />
            <input type="text" name="email"><br /> <br />
            <label>Password:</label><br />
            <input type="password" name="password"></input><br /><br /> <br />
            <input type="submit" value="Login"> <br />
        </form>
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <br /> <br />
        <form method="POST" action="/v1/register">
            <input type="submit" value="Register">
        </form>
        <br /> <br />
        <form method="GET" action="/v1/home">
            <input type="submit" value="Home">
        </form>
</html>