<!-- forms.html -->
<html>
    <body>    
        <div>
            {{.ErrorMessage}}
        </div>
        <form method="POST" action="/v1/logout">
            <input type="submit" value="Logout">
        </form>
        <form method="GET" action="/v1/login/activities">
            <input type="submit" value="Login history">
        </form>
    </body>
</html>