<html>
<head>
    Login activity
    </h1>
<body>
    <h1>
        Login activity
    </h1>
    <ul>
        {{range . }}
        <div>
            Login time: {{.LoginTime}}
            Session duration: {{.SessionDuration}}
        </div>
        {{end}}
    </ul>
    <form method="GET" action="/v1/home">
        <input type="submit" value="Home">
    </form>
    <form method="POST" action="/v1/logout">
        <input type="submit" value="Logout">
    </form>
</body>

</html>