<!-- forms.html -->
<html>
    <Body>
    <div>
        {{.ErrorMessage}}
    </div>
    </Body>
    <form method="POST" action="/v1/register/user">
        <label>Full name:</label><br />
        <input type="text" name="fullName"><br /> <br />
        <label>Email:</label><br />
        <input type="text" name="email"><br /> <br />
        <label>Password:</label><br />
        <input type="password" name="password"></input><br /><br /> <br />
        <input type="submit" value="Register">
    </form>
</html>
